<section id="day_buttons">
  <ul class="buttons">
    <li><button id="today">Today</button></li>
    <li><button id="three_days">3 Days</button></li>
    <li><button id="seven_days">7 Days</button></li>
    <li><button id="fifteen_days" class="selected">15 Days</button></li>
  </ul>
</section>

<section id="line_chart"></section>

<section id="segments" class="left"></section>

<section id="pie_chart" class="right"></section>