<div id="buttons">
  <ul>
    <li><a href="#" id="today">Today</a></li>
    <li><a href="#" id="three_days">3 Days</a></li>
    <li><a href="#" id="seven_days">7 Days</a></li>
    <li><a href="#" id="fifteen_days">15 Days</a></li>
  </ul>
</div>

<div id="line_chart"></div>

<div id="segments"></div>

<div id="pie_chart"></div>