<h2>Rate of activity</h2>
<div>
  <button id="world_button" class="selected" data-location="world">World</button>
  <button id="usa_button" data-location="usa">USA</button>
</div>
<div id="map" class="map"></div>