<h2>Segments</h2>
<section>
  <div><a>All</a>: <span id="totalCount">0</span></div>
  <div><a>Male</a>: <span id="maleCount">0</span></div>
  <div><a>Female</a>: <span id="femaleCount">0</span></div>
</section>