<h2>Segments</h2>
<section>
  <div><a id="allButton">All: <span id="totalCount">0</span></a></div>
  <div><a id="maleButton">Male: <span id="maleCount">0</span></a></div>
  <div><a id="femaleButton">Female: <span id="femaleCount">0</span></a></div>
</section>