<h2>Segments</h2>
<section>
  <div><button id="all_button" class="selected">All:</button> <span id="total_count">0</span></div>
  <div><button id="male_button">Male:</button> <span id="male_count">0</span></div>
  <div><button id="female_button">Female:</button> <span id="female_count">0</span></div>
</section>